In [1]:
import numpy as np
import pandas as pd

In [2]:
a = pd.read_excel('GWP 2.xlsx')
b = pd.read_excel('CLAIM 2.xlsx')
GWP_2 = a.copy()
CLAIM_2 = b.copy()

In [3]:
GWP_2

,MA_HD,SO_GCN,BIEN_SO,NGAY_HL,NGAY_KT,LOAI_XE,MD_SD,HANG_XE,HIEU_XE,NAM_SX,TRONG_TAI,SO_CN,MAX_STBH,PHI_GOC,ID_GWP,COUNT_ID,SUM_PHI_GOC
0,1/19/HD-XE/005-01,OTKH19+OTKH19+19106386,37A20359,2019-12-07,2020-12-07,Xe ô tô vận tải ( 01/04),K,HONDA,CITY,2015.0,0.0,5.0,4.200000e+08,6490909,1/19/HD-XE/005-01OTKH19+OTKH19+1910638637A2035...,1,6490909
1,1/19/HD-XE/015-01,OTKH19+OTKH19+19071063,30F45429,2019-12-09,2020-12-09,Xe ô tô vận tải ( 01/04),K,MERCEDES_BENZ,GLC,2016.0,0.0,5.0,1.650000e+09,20250000,1/19/HD-XE/015-01OTKH19+OTKH19+1907106330F4542...,1,20250000
2,1/19/HD-XE/023-99,OTKH19+OTKH19+19077068,RLUG8S1DBKN042527/G4LAKM370748,2019-12-09,2020-12-09,Xe ô tô vận tải ( 01/04),K,HYUNDAI,GRAND I10,2019.0,0.0,5.0,4.000000e+08,5818182,1/19/HD-XE/023-99OTKH19+OTKH19+19077068RLUG8S1...,1,5818182
3,1/20/HD-XE/000-20,OTKH20+OTKH20+20046004,29A60887,2020-01-17,2021-01-17,Xe ô tô vận tải ( 01/04),K,FORD,EVEREST,2012.0,0.0,7.0,5.000000e+08,8590909,1/20/HD-XE/000-20OTKH20+OTKH20+2004600429A6088...,1,8590909
4,1/20/HD-XE/001-05,OTKH19+OTKH19+19034443,51F43762,2020-01-02,2021-01-02,Xe ô tô vận tải ( 01/04),K,TOYOTA,INNOVA,2016.0,0.0,8.0,4.700000e+08,6622727,1/20/HD-XE/001-05OTKH19+OTKH19+1903444351F4376...,1,6622727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99747,OTKH21+OTKH21+21061775,OTKH21+OTKH21+21061775,34A43346,2020-12-02,2021-12-02,Xe ô tô vận tải ( 01/04),K,HYUNDAI,TUCSON,2020.0,0.0,5.0,8.450000e+08,9218182,OTKH21+OTKH21+21061775OTKH21+OTKH21+2106177534...,1,9218182
99748,OTKH21+OTKH21+21061777,OTKH21+OTKH21+21061777,34A13199,2020-12-03,2021-12-03,Xe ô tô vận tải ( 01/04),K,MAZDA,3,2015.0,0.0,5.0,4.500000e+08,6750000,OTKH21+OTKH21+21061777OTKH21+OTKH21+2106177734...,1,6750000
99749,OTKH21+OTKH21+21061778,OTKH21+OTKH21+21061778,34C25335,2020-12-04,2021-12-04,Xe ô tô chở hàng (Xe tải),C,THACO,K200,2019.0,1.9,3.0,3.000000e+08,4909091,OTKH21+OTKH21+21061778OTKH21+OTKH21+2106177834...,1,4909091
99750,OTKH21+OTKH21+21061779,OTKH21+OTKH21+21061779,99A41598,2020-12-04,2021-12-04,Xe ô tô vận tải ( 01/04),K,SUZUKI,ERTIGA,2020.0,0.0,7.0,5.150000e+08,6086364,OTKH21+OTKH21+21061779OTKH21+OTKH21+2106177999...,1,6086364
99751,OTKH21+OTKH21+21061943,OTKH21+OTKH21+21061943,34A25776,2020-12-09,2021-12-09,Xe ô tô vận tải ( 01/04),K,TOYOTA,VIOS,2018.0,0.0,5.0,4.050000e+08,4786364,OTKH21+OTKH21+21061943OTKH21+OTKH21+2106194334...,1,4786364

In [4]:
CLAIM_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76984 entries, 0 to 76983
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SO_HS            76984 non-null  object
 1   SO_HD            76982 non-null  object
 2   SO_GCN           76864 non-null  object
 3   DESCRIPTION      61053 non-null  object
 4   NGAY_MO_HS       76984 non-null  datetime64[ns]
 5   NGAY_XAY_RA      76984 non-null  datetime64[ns]
 6   UOC_BT           76984 non-null  int64
 7   DUYET_BT         76984 non-null  int64
 8   NGAY_THANH_TOAN  76984 non-null  object
 9   BIEN_SO          74468 non-null  object
 10  ID               76984 non-null  object
dtypes: datetime64[ns](2), int64(2), object(7)
memory usage: 6.5+ MB

In [5]:
GWP_2.columns

Index(['MA_HD', 'SO_GCN', 'BIEN_SO', 'NGAY_HL', 'NGAY_KT', 'LOAI_XE', 'MD_SD',
       'HANG_XE', 'HIEU_XE', 'NAM_SX', 'TRONG_TAI', 'SO_CN', 'MAX_STBH',
       'PHI_GOC', 'ID_GWP', 'COUNT_ID', 'SUM_PHI_GOC'],
      dtype='object')

In [6]:
CLAIM_2.rename(columns={'SO_GCN':'CERTIFICATE',
        'NGAY_XAY_RA':'OCCUR_DATE','DUYET_BT':'PAID_CLAIM'},inplace=True)

In [7]:
GWP_2.rename(columns={'SO_GCN':'CERTIFICATE',
        'NGAY_HL':'START_DATE', 'NGAY_KT':'END_DATE', 'LOAI_XE':'TYPE_CAR',  'MD_SD':'USE',
       'TRONG_TAI':'CAPACITY', 'SO_CN':'NB_SEATS', 'HANG_XE':'CAR_MAKER', 'HIEU_XE':'CAR_MODEL', 'BIEN_SO':'REG_NUMBER',
       'NAM_SX':'MANUFACTURE_YEAR', 
         'MAX_STBH':'SUM_INSURED'},inplace=True)

In [8]:
GWP_2['START_DATE']= pd.to_datetime(GWP_2['START_DATE'])
GWP_2['END_DATE']= pd.to_datetime(GWP_2['END_DATE'])
CLAIM_2['OCCUR_DATE']= pd.to_datetime(CLAIM_2['OCCUR_DATE'])

In [9]:
GWP_2

,MA_HD,CERTIFICATE,REG_NUMBER,START_DATE,END_DATE,TYPE_CAR,USE,CAR_MAKER,CAR_MODEL,MANUFACTURE_YEAR,CAPACITY,NB_SEATS,SUM_INSURED,PHI_GOC,ID_GWP,COUNT_ID,SUM_PHI_GOC
0,1/19/HD-XE/005-01,OTKH19+OTKH19+19106386,37A20359,2019-12-07,2020-12-07,Xe ô tô vận tải ( 01/04),K,HONDA,CITY,2015.0,0.0,5.0,4.200000e+08,6490909,1/19/HD-XE/005-01OTKH19+OTKH19+1910638637A2035...,1,6490909
1,1/19/HD-XE/015-01,OTKH19+OTKH19+19071063,30F45429,2019-12-09,2020-12-09,Xe ô tô vận tải ( 01/04),K,MERCEDES_BENZ,GLC,2016.0,0.0,5.0,1.650000e+09,20250000,1/19/HD-XE/015-01OTKH19+OTKH19+1907106330F4542...,1,20250000
2,1/19/HD-XE/023-99,OTKH19+OTKH19+19077068,RLUG8S1DBKN042527/G4LAKM370748,2019-12-09,2020-12-09,Xe ô tô vận tải ( 01/04),K,HYUNDAI,GRAND I10,2019.0,0.0,5.0,4.000000e+08,5818182,1/19/HD-XE/023-99OTKH19+OTKH19+19077068RLUG8S1...,1,5818182
3,1/20/HD-XE/000-20,OTKH20+OTKH20+20046004,29A60887,2020-01-17,2021-01-17,Xe ô tô vận tải ( 01/04),K,FORD,EVEREST,2012.0,0.0,7.0,5.000000e+08,8590909,1/20/HD-XE/000-20OTKH20+OTKH20+2004600429A6088...,1,8590909
4,1/20/HD-XE/001-05,OTKH19+OTKH19+19034443,51F43762,2020-01-02,2021-01-02,Xe ô tô vận tải ( 01/04),K,TOYOTA,INNOVA,2016.0,0.0,8.0,4.700000e+08,6622727,1/20/HD-XE/001-05OTKH19+OTKH19+1903444351F4376...,1,6622727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99747,OTKH21+OTKH21+21061775,OTKH21+OTKH21+21061775,34A43346,2020-12-02,2021-12-02,Xe ô tô vận tải ( 01/04),K,HYUNDAI,TUCSON,2020.0,0.0,5.0,8.450000e+08,9218182,OTKH21+OTKH21+21061775OTKH21+OTKH21+2106177534...,1,9218182
99748,OTKH21+OTKH21+21061777,OTKH21+OTKH21+21061777,34A13199,2020-12-03,2021-12-03,Xe ô tô vận tải ( 01/04),K,MAZDA,3,2015.0,0.0,5.0,4.500000e+08,6750000,OTKH21+OTKH21+21061777OTKH21+OTKH21+2106177734...,1,6750000
99749,OTKH21+OTKH21+21061778,OTKH21+OTKH21+21061778,34C25335,2020-12-04,2021-12-04,Xe ô tô chở hàng (Xe tải),C,THACO,K200,2019.0,1.9,3.0,3.000000e+08,4909091,OTKH21+OTKH21+21061778OTKH21+OTKH21+2106177834...,1,4909091
99750,OTKH21+OTKH21+21061779,OTKH21+OTKH21+21061779,99A41598,2020-12-04,2021-12-04,Xe ô tô vận tải ( 01/04),K,SUZUKI,ERTIGA,2020.0,0.0,7.0,5.150000e+08,6086364,OTKH21+OTKH21+21061779OTKH21+OTKH21+2106177999...,1,6086364
99751,OTKH21+OTKH21+21061943,OTKH21+OTKH21+21061943,34A25776,2020-12-09,2021-12-09,Xe ô tô vận tải ( 01/04),K,TOYOTA,VIOS,2018.0,0.0,5.0,4.050000e+08,4786364,OTKH21+OTKH21+21061943OTKH21+OTKH21+2106194334...,1,4786364

In [10]:
raw_GWP_2 = GWP_2[[
        'CERTIFICATE',
        'START_DATE', 'END_DATE', 'TYPE_CAR', 'USE',
       'CAPACITY', 'NB_SEATS', 'CAR_MAKER', 'CAR_MODEL', 'REG_NUMBER',
       'MANUFACTURE_YEAR', 
         'SUM_INSURED']]
raw_GWP_2.describe(include='all')

<ipython-input-10-bdc09817e44d>:7: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  raw_GWP_2.describe(include='all')
<ipython-input-10-bdc09817e44d>:7: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  raw_GWP_2.describe(include='all')

,CERTIFICATE,START_DATE,END_DATE,TYPE_CAR,USE,CAPACITY,NB_SEATS,CAR_MAKER,CAR_MODEL,REG_NUMBER,MANUFACTURE_YEAR,SUM_INSURED
count,99717,99752,99752,99716,99717,99717.000000,99717.000000,99717,99717,99717,99717.000000,9.975200e+04
unique,99714,2778,2943,25,2,NaN,NaN,149,1061,77129,NaN,NaN
top,OTKH+OTKH+13046512,2020-06-30 00:00:00,2021-08-30 00:00:00,Xe ô tô vận tải ( 01/04),K,NaN,NaN,TOYOTA,CL,,NaN,NaN
freq,2,248,222,41278,55047,NaN,NaN,15793,14343,6354,NaN,NaN
first,NaN,2010-03-01 00:00:00,2011-03-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2021-12-18 00:00:00,2025-05-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,6.370175,5.003610,NaN,NaN,NaN,2013.817393,5.731216e+08
std,NaN,NaN,NaN,NaN,NaN,248.976012,53.388072,NaN,NaN,NaN,33.553111,4.355180e+08
min,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,2010.000000,3.450000e+08
50%,NaN,NaN,NaN,NaN,NaN,0.000000,5.000000,NaN,NaN,NaN,2015.000000,5.000000e+08
75%,NaN,NaN,NaN,NaN,NaN,1.000000,5.000000,NaN,NaN,NaN,2018.000000,6.800000e+08
max,NaN,NaN,NaN,NaN,NaN,38615.000000,12595.000000,NaN,NaN,NaN,2025.000000,3.000000e+10

In [11]:
raw_GWP_2.dropna(inplace = True)

<ipython-input-11-b7a69fd38bd3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_GWP_2.dropna(inplace = True)

In [12]:
GWP_2['CERTIFICATE'].head(1)

0    OTKH19+OTKH19+19106386
Name: CERTIFICATE, dtype: object

In [13]:
raw_GWP_2.drop_duplicates(subset ="CERTIFICATE",
                      inplace = True)

<ipython-input-13-2335e5ad6454>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_GWP_2.drop_duplicates(subset ="CERTIFICATE",

In [14]:
raw_GWP_2.describe(include='all')

<ipython-input-14-5983c5ecf1d9>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  raw_GWP_2.describe(include='all')
<ipython-input-14-5983c5ecf1d9>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  raw_GWP_2.describe(include='all')

,CERTIFICATE,START_DATE,END_DATE,TYPE_CAR,USE,CAPACITY,NB_SEATS,CAR_MAKER,CAR_MODEL,REG_NUMBER,MANUFACTURE_YEAR,SUM_INSURED
count,99713,99713,99713,99713,99713,99713.000000,99713.000000,99713,99713,99713,99713.000000,9.971300e+04
unique,99713,2776,2940,25,2,NaN,NaN,149,1061,77127,NaN,NaN
top,OTKH20+OTKH20+20116540,2020-06-30 00:00:00,2021-08-30 00:00:00,Xe ô tô vận tải ( 01/04),K,NaN,NaN,TOYOTA,CL,,NaN,NaN
freq,1,248,222,41278,55045,NaN,NaN,15793,14341,6353,NaN,NaN
first,NaN,2010-03-01 00:00:00,2011-03-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2021-12-18 00:00:00,2025-05-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,6.370396,5.003229,NaN,NaN,NaN,2013.817466,5.730669e+08
std,NaN,NaN,NaN,NaN,NaN,248.981003,53.388982,NaN,NaN,NaN,33.553780,4.354181e+08
min,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,2010.000000,3.450000e+08
50%,NaN,NaN,NaN,NaN,NaN,0.000000,5.000000,NaN,NaN,NaN,2015.000000,5.000000e+08
75%,NaN,NaN,NaN,NaN,NaN,1.000000,5.000000,NaN,NaN,NaN,2018.000000,6.800000e+08
max,NaN,NaN,NaN,NaN,NaN,38615.000000,12595.000000,NaN,NaN,NaN,2025.000000,3.000000e+10

In [15]:
CLAIM_2.describe(include='all')

<ipython-input-15-023a2ef88922>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  CLAIM_2.describe(include='all')
<ipython-input-15-023a2ef88922>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  CLAIM_2.describe(include='all')

,SO_HS,SO_HD,CERTIFICATE,DESCRIPTION,NGAY_MO_HS,OCCUR_DATE,UOC_BT,PAID_CLAIM,NGAY_THANH_TOAN,BIEN_SO,ID
count,76984,76982,76864,61053,76984,76984,7.698400e+04,7.698400e+04,76984,74468,76984
unique,76946,41170,45601,53767,2493,2792,NaN,NaN,2034,34840,76984
top,17/13/02/0501/0857,18/11/15/0501/1256-U01,OTKH18+OTKH18+18087676,Va quÑt,2013-12-31 00:00:00,2020-11-09 00:00:00,NaN,NaN,UNKNOWN,,1647/20/HD-XE/017-051072/20/BT-XE/017-05OTKH20...
freq,2,100,11,1661,172,105,NaN,NaN,7663,6512,1
first,NaN,NaN,NaN,NaN,2011-02-17 00:00:00,2011-02-17 00:00:00,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,2020-12-31 00:00:00,2020-12-30 00:00:00,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,6.144527e+06,5.706596e+06,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,1.930947e+07,1.690242e+07,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000e+07,-1.000000e+07,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.100000e+06,1.920000e+06,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,3.405200e+06,3.292350e+06,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5.400000e+06,5.250000e+06,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,1.499500e+09,1.000000e+09,NaN,NaN,NaN

In [16]:
CLAIM_2.head()

,SO_HS,SO_HD,CERTIFICATE,DESCRIPTION,NGAY_MO_HS,OCCUR_DATE,UOC_BT,PAID_CLAIM,NGAY_THANH_TOAN,BIEN_SO,ID
0,13/03/04/0501/0006,12/03/04/0501/0156,OTKH+OTKH+12020085,NaN,2013-02-04,2013-02-04,-41322,-41322,2015-01-13 00:00:00,14L-8918,12/03/04/0501/015613/03/04/0501/0006OTKH+OTKH+...
1,14/04/04/0501/0097,13/09/04/0501/0187,OTKH+OTKH+13001169,Theo lêi khai cña l¸i xe vµo kho¶ng 10h15 ngµy...,2014-12-22,2014-11-29,2900000,2900000,2015-01-08 00:00:00,98C-014.38,13/09/04/0501/018714/04/04/0501/0097OTKH+OTKH+...
2,14/11/08/0501/0239,14/11/08/0501/0346,OTKH+OTKH+14031749,Va quÑt,2014-12-09,2014-11-20,5600000,5600000,2015-06-30 00:00:00,86A-00742,14/11/08/0501/034614/11/08/0501/0239OTKH+OTKH+...
3,14/09/02/0501/0129,14/09/02/0501/0033,OTKH+13035475,Theo lêi khai cña l¸i xe: håi 20h ngµy 20/6/20...,2014-11-11,2014-06-20,3050000,3050000,UNKNOWN,22A-000.06,14/09/02/0501/003314/09/02/0501/0129OTKH+13035...
4,14/04/04/0501/0096,13/09/04/0501/0149,OTKH+OTKH+13001370,Vµo kho¶ng 10h15 ngay 20/06/2014 l¸i xe Vi V¨n...,2014-12-22,2014-06-20,3020000,3020000,2015-08-27 00:00:00,12H-9480,13/09/04/0501/014914/04/04/0501/0096OTKH+OTKH+...

In [17]:
GWP_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99752 entries, 0 to 99751
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MA_HD             99752 non-null  object
 1   CERTIFICATE       99717 non-null  object
 2   REG_NUMBER        99717 non-null  object
 3   START_DATE        99752 non-null  datetime64[ns]
 4   END_DATE          99752 non-null  datetime64[ns]
 5   TYPE_CAR          99716 non-null  object
 6   USE               99717 non-null  object
 7   CAR_MAKER         99717 non-null  object
 8   CAR_MODEL         99717 non-null  object
 9   MANUFACTURE_YEAR  99717 non-null  float64
 10  CAPACITY          99717 non-null  float64
 11  NB_SEATS          99717 non-null  float64
 12  SUM_INSURED       99752 non-null  float64
 13  PHI_GOC           99752 non-null  int64
 14  ID_GWP            99752 non-null  object
 15  COUNT_ID          99752 non-null  int64
 16  SUM_PHI_GOC       99752 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(8)
memory usage: 12.9+ MB

In [18]:
raw_CLAIM_2 = CLAIM_2[['CERTIFICATE', 'OCCUR_DATE',
       'PAID_CLAIM']]

In [19]:
raw_CLAIM_2

                  CERTIFICATE OCCUR_DATE  PAID_CLAIM
0          OTKH+OTKH+12020085 2013-02-04      -41322
1          OTKH+OTKH+13001169 2014-11-29     2900000
2          OTKH+OTKH+14031749 2014-11-20     5600000
3               OTKH+13035475 2014-06-20     3050000
4          OTKH+OTKH+13001370 2014-06-20     3020000
...                       ...        ...         ...
76979  OTKH19+OTKH19+19141992 2020-06-29     2450000
76980  OTKH19+OTKH19+19141908 2020-11-20     4600000
76981  OTKH19+OTKH19+19087020 2020-06-13     4100000
76982  OTKH19+OTKH19+19104530 2020-06-24     4413600
76983  OTKH20+OTKH20+20020405 2020-11-01     1800000

[76984 rows x 3 columns]

In [20]:
raw_GWP_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99713 entries, 0 to 99751
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CERTIFICATE       99713 non-null  object
 1   START_DATE        99713 non-null  datetime64[ns]
 2   END_DATE          99713 non-null  datetime64[ns]
 3   TYPE_CAR          99713 non-null  object
 4   USE               99713 non-null  object
 5   CAPACITY          99713 non-null  float64
 6   NB_SEATS          99713 non-null  float64
 7   CAR_MAKER         99713 non-null  object
 8   CAR_MODEL         99713 non-null  object
 9   REG_NUMBER        99713 non-null  object
 10  MANUFACTURE_YEAR  99713 non-null  float64
 11  SUM_INSURED       99713 non-null  float64
dtypes: datetime64[ns](2), float64(4), object(6)
memory usage: 9.9+ MB

In [21]:
raw_GWP_2['Year'] = pd.DatetimeIndex(raw_GWP_2['START_DATE']).year
raw_GWP_2['Nb_years'] = pd.DatetimeIndex(raw_GWP_2['END_DATE']).year - raw_GWP_2['Year']
raw_GWP_2['Nb_years'].value_counts()

<ipython-input-21-cf1a6b065583>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_GWP_2['Year'] = pd.DatetimeIndex(raw_GWP_2['START_DATE']).year
<ipython-input-21-cf1a6b065583>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_GWP_2['Nb_years'] = pd.DatetimeIndex(raw_GWP_2['END_DATE']).year - raw_GWP_2['Year']

1    90407
0     6355
2     2296
3      600
4       39
5       15
6        1
Name: Nb_years, dtype: int64

In [22]:
df2 = raw_GWP_2.copy()

In [23]:
df2['Start_seq'] = df2['START_DATE']
df2['End_seq'] = df2['END_DATE']

In [24]:
select_years = df2.loc[df2['Nb_years'] > 1]
print(df2['Nb_years'].value_counts())

1    90407
0     6355
2     2296
3      600
4       39
5       15
6        1
Name: Nb_years, dtype: int64

In [25]:
def split_year(select_years):
    result = pd.DataFrame(columns=select_years.columns)
    for index, row in select_years.iterrows():
        while row['Nb_years'] > 0:
            new_row = row.copy(deep=True)
            year = new_row['Start_seq'].year
            new_row['End_seq'] = pd.Timestamp(year=year, month=12, day=31)
            new_row['Nb_years'] = 0
            result = result.append(new_row)

            row['Start_seq'] = pd.Timestamp(year=year + 1, month=1, day=1)
            row['Year'] = row['Start_seq'].year
            row['Nb_years'] = row['End_seq'].year - row['Year']

        result = result.append(row)
    print(result[['CERTIFICATE','Start_seq', 'End_seq', 'Year', 'Nb_years']])
    return result

In [26]:
df2 = df2.drop_duplicates()
original_col = df2.columns.values.tolist()
df2.describe(include='all')

<ipython-input-26-8100994148cf>:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df2.describe(include='all')
<ipython-input-26-8100994148cf>:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df2.describe(include='all')
<ipython-input-26-8100994148cf>:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df2.describe(include='all')
<ipython-input-26-8100994148cf>:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df2.describe(include='all')

,CERTIFICATE,START_DATE,END_DATE,TYPE_CAR,USE,CAPACITY,NB_SEATS,CAR_MAKER,CAR_MODEL,REG_NUMBER,MANUFACTURE_YEAR,SUM_INSURED,Year,Nb_years,Start_seq,End_seq
count,99713,99713,99713,99713,99713,99713.000000,99713.000000,99713,99713,99713,99713.000000,9.971300e+04,99713.000000,99713.000000,99713,99713
unique,99713,2776,2940,25,2,NaN,NaN,149,1061,77127,NaN,NaN,NaN,NaN,2776,2940
top,OTKH20+OTKH20+20116540,2020-06-30 00:00:00,2021-08-30 00:00:00,Xe ô tô vận tải ( 01/04),K,NaN,NaN,TOYOTA,CL,,NaN,NaN,NaN,NaN,2020-06-30 00:00:00,2021-08-30 00:00:00
freq,1,248,222,41278,55045,NaN,NaN,15793,14341,6353,NaN,NaN,NaN,NaN,248,222
first,NaN,2010-03-01 00:00:00,2011-03-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-03-01 00:00:00,2011-03-01 00:00:00
last,NaN,2021-12-18 00:00:00,2025-05-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-18 00:00:00,2025-05-22 00:00:00
mean,NaN,NaN,NaN,NaN,NaN,6.370396,5.003229,NaN,NaN,NaN,2013.817466,5.730669e+08,2017.696659,0.973153,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,248.981003,53.388982,NaN,NaN,NaN,33.553780,4.354181e+08,1.972080,0.341008,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000e+00,2010.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,2010.000000,3.450000e+08,2016.000000,1.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,0.000000,5.000000,NaN,NaN,NaN,2015.000000,5.000000e+08,2018.000000,1.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,1.000000,5.000000,NaN,NaN,NaN,2018.000000,6.800000e+08,2019.000000,1.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,38615.000000,12595.000000,NaN,NaN,NaN,2025.000000,3.000000e+10,2021.000000,6.000000,NaN,NaN

In [27]:
select_years

,CERTIFICATE,START_DATE,END_DATE,TYPE_CAR,USE,CAPACITY,NB_SEATS,CAR_MAKER,CAR_MODEL,REG_NUMBER,MANUFACTURE_YEAR,SUM_INSURED,Year,Nb_years,Start_seq,End_seq
24,OTKH+OTKH+10002072,2010-04-22,2012-04-22,Loai xe Convert,C,0.0,1.0,HANG_CV,HIEU_CV,52X-8435,2008.0,5.000000e+08,2010,2,2010-04-22,2012-04-22
28,OTKH19+OTKH19+19144607,2019-12-31,2021-12-31,Xe ô tô vận tải ( 01/04),K,0.0,5.0,ASIA,TOWNER,36A19750,2016.0,2.400000e+08,2019,2,2019-12-31,2021-12-31
195,OTKH20+OTKH20+20015555,2020-04-09,2022-04-09,Xe ô tô vận tải ( 01/04),K,0.0,7.0,HYUNDAI,SANTAFE,88A32278,2020.0,1.000000e+09,2020,2,2020-04-09,2022-04-09
291,OTKH20+OTKH20+20033743,2020-08-24,2022-08-24,Xe ô tô vận tải ( 01/04),K,0.0,8.0,ACURA,CL,37A02859,2011.0,3.500000e+08,2020,2,2020-08-24,2022-08-24
292,OTKH20+OTKH20+20033744,2020-08-24,2022-08-24,Xe ô tô vận tải ( 01/04),K,0.0,8.0,ACURA,CL,37A02859,2011.0,3.500000e+08,2020,2,2020-08-24,2022-08-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99219,OTKH20+OTKH20+20067111,2020-06-24,2022-08-24,Xe ô tô chở hàng (Xe tải),K,1.0,2.0,SUZUKI,CARRY,34C27605,2020.0,3.050000e+08,2020,2,2020-06-24,2022-08-24
99628,OTKH20+OTKH20+20130243,2020-07-01,2022-07-01,Xe ô tô vận tải ( 01/04),K,0.0,5.0,KIA,CERATO,LC181473/KH159041,2020.0,6.700000e+08,2020,2,2020-07-01,2022-07-01
99634,OTKH20+OTKH20+20130255,2020-08-06,2022-08-06,Xe ô tô vận tải ( 01/04),K,0.0,5.0,KIA,CERATO,LC187096/KH748144,2020.0,6.230000e+08,2020,2,2020-08-06,2022-08-06
99679,OTKH20+OTKH20+20130490,2020-09-25,2022-09-25,Xe ô tô vận tải ( 01/04),K,0.0,7.0,HYUNDAI,SANTAFE,N014565/A563622,2020.0,1.130000e+09,2020,2,2020-09-25,2022-09-25
99681,OTKH20+OTKH20+20130492,2020-07-23,2022-07-23,Xe ô tô vận tải ( 01/04),K,0.0,5.0,HYUNDAI,TUCSON,34A39808,2020.0,8.600000e+08,2020,2,2020-07-23,2022-07-23

In [28]:
select_years = split_year(select_years)

                  CERTIFICATE  Start_seq    End_seq  Year Nb_years
24         OTKH+OTKH+10002072 2010-04-22 2010-12-31  2010        0
24         OTKH+OTKH+10002072 2011-01-01 2011-12-31  2011        0
24         OTKH+OTKH+10002072 2012-01-01 2012-04-22  2012        0
28     OTKH19+OTKH19+19144607 2019-12-31 2019-12-31  2019        0
28     OTKH19+OTKH19+19144607 2020-01-01 2020-12-31  2020        0
...                       ...        ...        ...   ...      ...
99679  OTKH20+OTKH20+20130490 2021-01-01 2021-12-31  2021        0
99679  OTKH20+OTKH20+20130490 2022-01-01 2022-09-25  2022        0
99681  OTKH20+OTKH20+20130492 2020-07-23 2020-12-31  2020        0
99681  OTKH20+OTKH20+20130492 2021-01-01 2021-12-31  2021        0
99681  OTKH20+OTKH20+20130492 2022-01-01 2022-07-23  2022        0

[9580 rows x 5 columns]

In [29]:
""" Handle the 1-year-diff by split them in two"""
select_years1 = df2.loc[df2['Nb_years'] == 1]
select_years2 = select_years1.copy(deep=True)
print(select_years1[['Start_seq', 'End_seq', 'Year', 'Nb_years']])

""" First split"""
select_years1['End_seq'] = pd.to_datetime(
    (select_years1.Year*10000+12*100+31), format='%Y%m%d')
select_years1['Nb_years'] = 0

""" Second split"""
select_years2['Start_seq'] = pd.to_datetime(
    ((select_years2.Year+1)*10000+1*100+1), format='%Y%m%d')
select_years2['Year'] = select_years2.Year+1
select_years2['Nb_years'] = 0

       Start_seq    End_seq  Year  Nb_years
0     2019-12-07 2020-12-07  2019         1
1     2019-12-09 2020-12-09  2019         1
2     2019-12-09 2020-12-09  2019         1
3     2020-01-17 2021-01-17  2020         1
4     2020-01-02 2021-01-02  2020         1
...          ...        ...   ...       ...
99747 2020-12-02 2021-12-02  2020         1
99748 2020-12-03 2021-12-03  2020         1
99749 2020-12-04 2021-12-04  2020         1
99750 2020-12-04 2021-12-04  2020         1
99751 2020-12-09 2021-12-09  2020         1

[90407 rows x 4 columns]

<ipython-input-29-0e7dc9ca2f0f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  select_years1['End_seq'] = pd.to_datetime(
<ipython-input-29-0e7dc9ca2f0f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  select_years1['Nb_years'] = 0

In [30]:
""" Print"""
diff1_year = pd.concat([select_years1, select_years2])
print(diff1_year[['Start_seq', 'End_seq', 'Year', 'Nb_years']])

       Start_seq    End_seq  Year  Nb_years
0     2019-12-07 2019-12-31  2019         0
1     2019-12-09 2019-12-31  2019         0
2     2019-12-09 2019-12-31  2019         0
3     2020-01-17 2020-12-31  2020         0
4     2020-01-02 2020-12-31  2020         0
...          ...        ...   ...       ...
99747 2021-01-01 2021-12-02  2021         0
99748 2021-01-01 2021-12-03  2021         0
99749 2021-01-01 2021-12-04  2021         0
99750 2021-01-01 2021-12-04  2021         0
99751 2021-01-01 2021-12-09  2021         0

[180814 rows x 4 columns]

In [31]:
original_years = df2.loc[df2['Nb_years'] < 1]
original_years

,CERTIFICATE,START_DATE,END_DATE,TYPE_CAR,USE,CAPACITY,NB_SEATS,CAR_MAKER,CAR_MODEL,REG_NUMBER,MANUFACTURE_YEAR,SUM_INSURED,Year,Nb_years,Start_seq,End_seq
244,OTKH19+OTKH19+19125401,2019-12-07,2019-12-16,Xe ô tô chở hàng (Xe tải),K,2.000,3.0,VEAM,CHANGAN,T6119910,2018.0,350000000.0,2019,0,2019-12-07,2019-12-16
245,OTKH19+OTKH19+19125402,2019-12-07,2019-12-16,Xe ô tô chở hàng (Xe tải),K,2.000,3.0,VEAM,CHANGAN,T6119911,2018.0,350000000.0,2019,0,2019-12-07,2019-12-16
246,OTKH19+OTKH19+19125409,2019-12-07,2019-12-16,Xe ô tô chở hàng (Xe tải),K,7.000,3.0,VEAM,CHANGAN,J06956,2018.0,600000000.0,2019,0,2019-12-07,2019-12-16
247,OTKH19+OTKH19+19125410,2019-12-07,2019-12-16,Xe ô tô chở hàng (Xe tải),K,7.000,3.0,VEAM,CHANGAN,J06957,2018.0,600000000.0,2019,0,2019-12-07,2019-12-16
248,OTKH19+OTKH19+19125411,2019-12-07,2019-12-16,Xe ô tô chở hàng (Xe tải),K,7.000,3.0,VEAM,CHANGAN,J06931,2018.0,600000000.0,2019,0,2019-12-07,2019-12-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99088,OTKH20+OTKH20+20023192,2020-06-28,2020-12-31,Xe ô tô chở hàng (Xe tải),C,6.850,3.0,KHAC,KHAC,89C20656,2017.0,525000000.0,2020,0,2020-06-28,2020-12-31
99227,OTKH20+OTKH20+20067231,2020-01-01,2020-12-31,Xe ô tô vận tải ( 01/04),K,0.000,7.0,KIA,RONDO,34A17977,2016.0,550000000.0,2020,0,2020-01-01,2020-12-31
99530,OTKH20+OTKH20+20085922,2020-06-11,2020-12-11,Xe ô tô chở hàng (Xe tải),C,4.995,3.0,TMT,CUU LONG,34C23632,2019.0,300000000.0,2020,0,2020-06-11,2020-12-11
99622,OTKH20+OTKH20+20130229,2021-01-14,2021-07-14,Xe ô tô vận tải ( 01/04),K,0.000,5.0,KIA,CERATO,14A47331,2019.0,549000000.0,2021,0,2021-01-14,2021-07-14
99660,OTKH20+OTKH20+20130363,2021-03-12,2021-09-12,Xe Pickup,K,0.000,5.0,FORD,RANGER,34C26734,2020.0,650000000.0,2021,0,2021-03-12,2021-09-12

In [32]:
final = pd.concat([original_years, diff1_year, select_years])
final['Days'] = final['End_seq'] - final['Start_seq'] + pd.offsets.Day(1)
final['Exposure'] = final['Days'].dt.days / pd.to_datetime((final.Year*10000+12*100+31), format='%Y%m%d').dt.dayofyear

In [33]:
final

,CERTIFICATE,START_DATE,END_DATE,TYPE_CAR,USE,CAPACITY,NB_SEATS,CAR_MAKER,CAR_MODEL,REG_NUMBER,MANUFACTURE_YEAR,SUM_INSURED,Year,Nb_years,Start_seq,End_seq,Days,Exposure
244,OTKH19+OTKH19+19125401,2019-12-07,2019-12-16,Xe ô tô chở hàng (Xe tải),K,2.0,3.0,VEAM,CHANGAN,T6119910,2018.0,3.500000e+08,2019,0,2019-12-07,2019-12-16,10 days,0.027397
245,OTKH19+OTKH19+19125402,2019-12-07,2019-12-16,Xe ô tô chở hàng (Xe tải),K,2.0,3.0,VEAM,CHANGAN,T6119911,2018.0,3.500000e+08,2019,0,2019-12-07,2019-12-16,10 days,0.027397
246,OTKH19+OTKH19+19125409,2019-12-07,2019-12-16,Xe ô tô chở hàng (Xe tải),K,7.0,3.0,VEAM,CHANGAN,J06956,2018.0,6.000000e+08,2019,0,2019-12-07,2019-12-16,10 days,0.027397
247,OTKH19+OTKH19+19125410,2019-12-07,2019-12-16,Xe ô tô chở hàng (Xe tải),K,7.0,3.0,VEAM,CHANGAN,J06957,2018.0,6.000000e+08,2019,0,2019-12-07,2019-12-16,10 days,0.027397
248,OTKH19+OTKH19+19125411,2019-12-07,2019-12-16,Xe ô tô chở hàng (Xe tải),K,7.0,3.0,VEAM,CHANGAN,J06931,2018.0,6.000000e+08,2019,0,2019-12-07,2019-12-16,10 days,0.027397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99679,OTKH20+OTKH20+20130490,2020-09-25,2022-09-25,Xe ô tô vận tải ( 01/04),K,0.0,7.0,HYUNDAI,SANTAFE,N014565/A563622,2020.0,1.130000e+09,2021,0,2021-01-01,2021-12-31,365 days,1.000000
99679,OTKH20+OTKH20+20130490,2020-09-25,2022-09-25,Xe ô tô vận tải ( 01/04),K,0.0,7.0,HYUNDAI,SANTAFE,N014565/A563622,2020.0,1.130000e+09,2022,0,2022-01-01,2022-09-25,268 days,0.734247
99681,OTKH20+OTKH20+20130492,2020-07-23,2022-07-23,Xe ô tô vận tải ( 01/04),K,0.0,5.0,HYUNDAI,TUCSON,34A39808,2020.0,8.600000e+08,2020,0,2020-07-23,2020-12-31,162 days,0.442623
99681,OTKH20+OTKH20+20130492,2020-07-23,2022-07-23,Xe ô tô vận tải ( 01/04),K,0.0,5.0,HYUNDAI,TUCSON,34A39808,2020.0,8.600000e+08,2021,0,2021-01-01,2021-12-31,365 days,1.000000
99681,OTKH20+OTKH20+20130492,2020-07-23,2022-07-23,Xe ô tô vận tải ( 01/04),K,0.0,5.0,HYUNDAI,TUCSON,34A39808,2020.0,8.600000e+08,2022,0,2022-01-01,2022-07-23,204 days,0.558904

In [34]:
final.columns

Index(['CERTIFICATE', 'START_DATE', 'END_DATE', 'TYPE_CAR', 'USE', 'CAPACITY',
       'NB_SEATS', 'CAR_MAKER', 'CAR_MODEL', 'REG_NUMBER', 'MANUFACTURE_YEAR',
       'SUM_INSURED', 'Year', 'Nb_years', 'Start_seq', 'End_seq', 'Days',
       'Exposure'],
      dtype='object')

In [35]:
final = final[['CERTIFICATE', 'REG_NUMBER', 'START_DATE', 'END_DATE', 'USE',
       'CAR_MAKER', 'CAR_MODEL', 'MANUFACTURE_YEAR', 'CAPACITY', 'NB_SEATS',
       'SUM_INSURED', 'Year', 'Start_seq', 'End_seq', 'Days',
       'Exposure']]

In [36]:
CLAIM_2.columns

Index(['SO_HS', 'SO_HD', 'CERTIFICATE', 'DESCRIPTION', 'NGAY_MO_HS',
       'OCCUR_DATE', 'UOC_BT', 'PAID_CLAIM', 'NGAY_THANH_TOAN', 'BIEN_SO',
       'ID'],
      dtype='object')

In [37]:
raw_CLAIM_2

                  CERTIFICATE OCCUR_DATE  PAID_CLAIM
0          OTKH+OTKH+12020085 2013-02-04      -41322
1          OTKH+OTKH+13001169 2014-11-29     2900000
2          OTKH+OTKH+14031749 2014-11-20     5600000
3               OTKH+13035475 2014-06-20     3050000
4          OTKH+OTKH+13001370 2014-06-20     3020000
...                       ...        ...         ...
76979  OTKH19+OTKH19+19141992 2020-06-29     2450000
76980  OTKH19+OTKH19+19141908 2020-11-20     4600000
76981  OTKH19+OTKH19+19087020 2020-06-13     4100000
76982  OTKH19+OTKH19+19104530 2020-06-24     4413600
76983  OTKH20+OTKH20+20020405 2020-11-01     1800000

[76984 rows x 3 columns]

In [38]:
raw_CLAIM_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76984 entries, 0 to 76983
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CERTIFICATE  76864 non-null  object
 1   OCCUR_DATE   76984 non-null  datetime64[ns]
 2   PAID_CLAIM   76984 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.8+ MB

In [39]:
raw_CLAIM_2.dropna(inplace = True)

<ipython-input-39-87d8b31cf744>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_CLAIM_2.dropna(inplace = True)

In [40]:
Insur_2 = pd.merge(final,raw_CLAIM_2,how='left',on=['CERTIFICATE'])

In [41]:
Insur_2

,CERTIFICATE,REG_NUMBER,START_DATE,END_DATE,USE,CAR_MAKER,CAR_MODEL,MANUFACTURE_YEAR,CAPACITY,NB_SEATS,SUM_INSURED,Year,Start_seq,End_seq,Days,Exposure,OCCUR_DATE,PAID_CLAIM
0,OTKH19+OTKH19+19125401,T6119910,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,2.0,3.0,3.500000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,NaN
1,OTKH19+OTKH19+19125402,T6119911,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,2.0,3.0,3.500000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,NaN
2,OTKH19+OTKH19+19125409,J06956,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,7.0,3.0,6.000000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,NaN
3,OTKH19+OTKH19+19125410,J06957,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,7.0,3.0,6.000000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,NaN
4,OTKH19+OTKH19+19125411,J06931,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,7.0,3.0,6.000000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255823,OTKH20+OTKH20+20130490,N014565/A563622,2020-09-25,2022-09-25,K,HYUNDAI,SANTAFE,2020.0,0.0,7.0,1.130000e+09,2021,2021-01-01,2021-12-31,365 days,1.000000,NaT,NaN
255824,OTKH20+OTKH20+20130490,N014565/A563622,2020-09-25,2022-09-25,K,HYUNDAI,SANTAFE,2020.0,0.0,7.0,1.130000e+09,2022,2022-01-01,2022-09-25,268 days,0.734247,NaT,NaN
255825,OTKH20+OTKH20+20130492,34A39808,2020-07-23,2022-07-23,K,HYUNDAI,TUCSON,2020.0,0.0,5.0,8.600000e+08,2020,2020-07-23,2020-12-31,162 days,0.442623,2020-10-09,1100000.0
255826,OTKH20+OTKH20+20130492,34A39808,2020-07-23,2022-07-23,K,HYUNDAI,TUCSON,2020.0,0.0,5.0,8.600000e+08,2021,2021-01-01,2021-12-31,365 days,1.000000,2020-10-09,1100000.0
255827,OTKH20+OTKH20+20130492,34A39808,2020-07-23,2022-07-23,K,HYUNDAI,TUCSON,2020.0,0.0,5.0,8.600000e+08,2022,2022-01-01,2022-07-23,204 days,0.558904,2020-10-09,1100000.0

In [77]:
Insur_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255822 entries, 0 to 255827
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CERTIFICATE       255822 non-null  object
 1   REG_NUMBER        255822 non-null  object
 2   START_DATE        255822 non-null  datetime64[ns]
 3   END_DATE          255822 non-null  datetime64[ns]
 4   USE               255822 non-null  object
 5   CAR_MAKER         255822 non-null  object
 6   CAR_MODEL         255822 non-null  object
 7   MANUFACTURE_YEAR  255822 non-null  float64
 8   CAPACITY          255822 non-null  float64
 9   NB_SEATS          255822 non-null  float64
 10  SUM_INSURED       255822 non-null  float64
 11  Year              255822 non-null  object
 12  Start_seq         255822 non-null  datetime64[ns]
 13  End_seq           255822 non-null  datetime64[ns]
 14  Days              255822 non-null  timedelta64[ns]
 15  Exposure          255822 non-null  float64
 16  OCCUR_DATE        142861 non-null  datetime64[ns]
 17  PAID_CLAIM        142861 non-null  float64
dtypes: datetime64[ns](5), float64(6), object(6), timedelta64[ns](1)
memory usage: 37.1+ MB

In [42]:
Insur_2.drop(Insur_2[Insur_2['PAID_CLAIM'] <0].index,inplace=True)

In [43]:
copy_Insur_2= Insur_2.copy()
copy_Insur_2

,CERTIFICATE,REG_NUMBER,START_DATE,END_DATE,USE,CAR_MAKER,CAR_MODEL,MANUFACTURE_YEAR,CAPACITY,NB_SEATS,SUM_INSURED,Year,Start_seq,End_seq,Days,Exposure,OCCUR_DATE,PAID_CLAIM
0,OTKH19+OTKH19+19125401,T6119910,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,2.0,3.0,3.500000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,NaN
1,OTKH19+OTKH19+19125402,T6119911,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,2.0,3.0,3.500000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,NaN
2,OTKH19+OTKH19+19125409,J06956,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,7.0,3.0,6.000000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,NaN
3,OTKH19+OTKH19+19125410,J06957,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,7.0,3.0,6.000000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,NaN
4,OTKH19+OTKH19+19125411,J06931,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,7.0,3.0,6.000000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255823,OTKH20+OTKH20+20130490,N014565/A563622,2020-09-25,2022-09-25,K,HYUNDAI,SANTAFE,2020.0,0.0,7.0,1.130000e+09,2021,2021-01-01,2021-12-31,365 days,1.000000,NaT,NaN
255824,OTKH20+OTKH20+20130490,N014565/A563622,2020-09-25,2022-09-25,K,HYUNDAI,SANTAFE,2020.0,0.0,7.0,1.130000e+09,2022,2022-01-01,2022-09-25,268 days,0.734247,NaT,NaN
255825,OTKH20+OTKH20+20130492,34A39808,2020-07-23,2022-07-23,K,HYUNDAI,TUCSON,2020.0,0.0,5.0,8.600000e+08,2020,2020-07-23,2020-12-31,162 days,0.442623,2020-10-09,1100000.0
255826,OTKH20+OTKH20+20130492,34A39808,2020-07-23,2022-07-23,K,HYUNDAI,TUCSON,2020.0,0.0,5.0,8.600000e+08,2021,2021-01-01,2021-12-31,365 days,1.000000,2020-10-09,1100000.0
255827,OTKH20+OTKH20+20130492,34A39808,2020-07-23,2022-07-23,K,HYUNDAI,TUCSON,2020.0,0.0,5.0,8.600000e+08,2022,2022-01-01,2022-07-23,204 days,0.558904,2020-10-09,1100000.0

In [44]:
copy_Insur_2['PAID_CLAIM'].fillna(-1,inplace=True)

In [45]:
copy_Insur_2['PAID_CLAIM'].value_counts()

-1.0           112961
 0.0             6401
 2000000.0       1631
 3000000.0       1350
 2500000.0       1349
                ...
 46050000.0         1
 21645428.0         1
 1776000.0          1
 1906000.0          1
 33169091.0         1
Name: PAID_CLAIM, Length: 14600, dtype: int64

In [46]:
pre_Insur_2 = copy_Insur_2[copy_Insur_2['PAID_CLAIM']== -1.0]
pre_Insur_2

,CERTIFICATE,REG_NUMBER,START_DATE,END_DATE,USE,CAR_MAKER,CAR_MODEL,MANUFACTURE_YEAR,CAPACITY,NB_SEATS,SUM_INSURED,Year,Start_seq,End_seq,Days,Exposure,OCCUR_DATE,PAID_CLAIM
0,OTKH19+OTKH19+19125401,T6119910,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,2.0,3.0,3.500000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,-1.0
1,OTKH19+OTKH19+19125402,T6119911,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,2.0,3.0,3.500000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,-1.0
2,OTKH19+OTKH19+19125409,J06956,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,7.0,3.0,6.000000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,-1.0
3,OTKH19+OTKH19+19125410,J06957,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,7.0,3.0,6.000000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,-1.0
4,OTKH19+OTKH19+19125411,J06931,2019-12-07,2019-12-16,K,VEAM,CHANGAN,2018.0,7.0,3.0,6.000000e+08,2019,2019-12-07,2019-12-16,10 days,0.027397,NaT,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255820,OTKH20+OTKH20+20130255,LC187096/KH748144,2020-08-06,2022-08-06,K,KIA,CERATO,2020.0,0.0,5.0,6.230000e+08,2021,2021-01-01,2021-12-31,365 days,1.000000,NaT,-1.0
255821,OTKH20+OTKH20+20130255,LC187096/KH748144,2020-08-06,2022-08-06,K,KIA,CERATO,2020.0,0.0,5.0,6.230000e+08,2022,2022-01-01,2022-08-06,218 days,0.597260,NaT,-1.0
255822,OTKH20+OTKH20+20130490,N014565/A563622,2020-09-25,2022-09-25,K,HYUNDAI,SANTAFE,2020.0,0.0,7.0,1.130000e+09,2020,2020-09-25,2020-12-31,98 days,0.267760,NaT,-1.0
255823,OTKH20+OTKH20+20130490,N014565/A563622,2020-09-25,2022-09-25,K,HYUNDAI,SANTAFE,2020.0,0.0,7.0,1.130000e+09,2021,2021-01-01,2021-12-31,365 days,1.000000,NaT,-1.0
255824,OTKH20+OTKH20+20130490,N014565/A563622,2020-09-25,2022-09-25,K,HYUNDAI,SANTAFE,2020.0,0.0,7.0,1.130000e+09,2022,2022-01-01,2022-09-25,268 days,0.734247,NaT,-1.0

In [47]:
draw_Insur_2 = Insur_2[(Insur_2['OCCUR_DATE']>=Insur_2['Start_seq'] )& (Insur_2['OCCUR_DATE']<=Insur_2['End_seq'])]

In [48]:
draw_Insur_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69399 entries, 53 to 255825
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CERTIFICATE       69399 non-null  object
 1   REG_NUMBER        69399 non-null  object
 2   START_DATE        69399 non-null  datetime64[ns]
 3   END_DATE          69399 non-null  datetime64[ns]
 4   USE               69399 non-null  object
 5   CAR_MAKER         69399 non-null  object
 6   CAR_MODEL         69399 non-null  object
 7   MANUFACTURE_YEAR  69399 non-null  float64
 8   CAPACITY          69399 non-null  float64
 9   NB_SEATS          69399 non-null  float64
 10  SUM_INSURED       69399 non-null  float64
 11  Year              69399 non-null  object
 12  Start_seq         69399 non-null  datetime64[ns]
 13  End_seq           69399 non-null  datetime64[ns]
 14  Days              69399 non-null  timedelta64[ns]
 15  Exposure          69399 non-null  float64
 16  OCCUR_DATE        69399 non-null  datetime64[ns]
 17  PAID_CLAIM        69399 non-null  float64
dtypes: datetime64[ns](5), float64(6), object(6), timedelta64[ns](1)
memory usage: 10.1+ MB

In [49]:
final_Insur_2 = pd.concat([draw_Insur_2,pre_Insur_2])

In [50]:
final_Insur_2.reset_index(drop=True,inplace=True)

In [51]:
final_Insur_2.loc[final_Insur_2['PAID_CLAIM'] == -1, 'PAID_CLAIM'] = 0

In [52]:
final_Insur_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182360 entries, 0 to 182359
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CERTIFICATE       182360 non-null  object
 1   REG_NUMBER        182360 non-null  object
 2   START_DATE        182360 non-null  datetime64[ns]
 3   END_DATE          182360 non-null  datetime64[ns]
 4   USE               182360 non-null  object
 5   CAR_MAKER         182360 non-null  object
 6   CAR_MODEL         182360 non-null  object
 7   MANUFACTURE_YEAR  182360 non-null  float64
 8   CAPACITY          182360 non-null  float64
 9   NB_SEATS          182360 non-null  float64
 10  SUM_INSURED       182360 non-null  float64
 11  Year              182360 non-null  object
 12  Start_seq         182360 non-null  datetime64[ns]
 13  End_seq           182360 non-null  datetime64[ns]
 14  Days              182360 non-null  timedelta64[ns]
 15  Exposure          182360 non-null  float64
 16  OCCUR_DATE        69399 non-null   datetime64[ns]
 17  PAID_CLAIM        182360 non-null  float64
dtypes: datetime64[ns](5), float64(6), object(6), timedelta64[ns](1)
memory usage: 25.0+ MB

In [53]:
SEVERITY = final_Insur_2.copy()

In [54]:
SEVERITY

,CERTIFICATE,REG_NUMBER,START_DATE,END_DATE,USE,CAR_MAKER,CAR_MODEL,MANUFACTURE_YEAR,CAPACITY,NB_SEATS,SUM_INSURED,Year,Start_seq,End_seq,Days,Exposure,OCCUR_DATE,PAID_CLAIM
0,OTKH+OTKH+111031583,72N - 2511,2012-01-01,2012-12-31,C,HANG_CV,HIEU_CV,2008.0,0.0,1.0,4.000000e+08,2012,2012-01-01,2012-12-31,366 days,1.000000,2012-10-24,8150000.0
1,OTKH+OTKH+14003066,14L- 5067,2014-01-01,2014-12-31,C,HANG_CV,HIEU_CV,2008.0,0.0,1.0,4.000000e+08,2014,2014-01-01,2014-12-31,365 days,1.000000,2014-09-04,30756708.0
2,OTKH+OTKH+14003068,14C- 2205,2014-01-01,2014-12-31,C,HANG_CV,HIEU_CV,2008.0,0.0,1.0,4.000000e+08,2014,2014-01-01,2014-12-31,365 days,1.000000,2014-06-26,1200000.0
3,OTKH+OTKH+14003109,14C- 3619,2014-01-01,2014-12-31,C,HANG_CV,HIEU_CV,2008.0,0.0,1.0,3.000000e+08,2014,2014-01-01,2014-12-31,365 days,1.000000,2014-12-24,0.0
4,OTKH20+OTKH20+20048847,51F20986,2020-02-19,2020-08-19,K,TOYOTA,INNOVA,2015.0,0.0,8.0,5.000000e+08,2020,2020-02-19,2020-08-19,183 days,0.500000,2020-07-10,3600000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182355,OTKH20+OTKH20+20130255,LC187096/KH748144,2020-08-06,2022-08-06,K,KIA,CERATO,2020.0,0.0,5.0,6.230000e+08,2021,2021-01-01,2021-12-31,365 days,1.000000,NaT,0.0
182356,OTKH20+OTKH20+20130255,LC187096/KH748144,2020-08-06,2022-08-06,K,KIA,CERATO,2020.0,0.0,5.0,6.230000e+08,2022,2022-01-01,2022-08-06,218 days,0.597260,NaT,0.0
182357,OTKH20+OTKH20+20130490,N014565/A563622,2020-09-25,2022-09-25,K,HYUNDAI,SANTAFE,2020.0,0.0,7.0,1.130000e+09,2020,2020-09-25,2020-12-31,98 days,0.267760,NaT,0.0
182358,OTKH20+OTKH20+20130490,N014565/A563622,2020-09-25,2022-09-25,K,HYUNDAI,SANTAFE,2020.0,0.0,7.0,1.130000e+09,2021,2021-01-01,2021-12-31,365 days,1.000000,NaT,0.0
182359,OTKH20+OTKH20+20130490,N014565/A563622,2020-09-25,2022-09-25,K,HYUNDAI,SANTAFE,2020.0,0.0,7.0,1.130000e+09,2022,2022-01-01,2022-09-25,268 days,0.734247,NaT,0.0

In [55]:
SEVERITY.rename({'PAID_CLAIM':'CLAIM'},axis=1,inplace = True)

In [56]:
raw_SEVERITY= SEVERITY.copy()

In [57]:
SEVERITY.drop(SEVERITY[SEVERITY['CLAIM']==0.0].index,inplace=True)

In [58]:
SEVERITY

,CERTIFICATE,REG_NUMBER,START_DATE,END_DATE,USE,CAR_MAKER,CAR_MODEL,MANUFACTURE_YEAR,CAPACITY,NB_SEATS,SUM_INSURED,Year,Start_seq,End_seq,Days,Exposure,OCCUR_DATE,CLAIM
0,OTKH+OTKH+111031583,72N - 2511,2012-01-01,2012-12-31,C,HANG_CV,HIEU_CV,2008.0,0.0,1.0,4.000000e+08,2012,2012-01-01,2012-12-31,366 days,1.000000,2012-10-24,8150000.0
1,OTKH+OTKH+14003066,14L- 5067,2014-01-01,2014-12-31,C,HANG_CV,HIEU_CV,2008.0,0.0,1.0,4.000000e+08,2014,2014-01-01,2014-12-31,365 days,1.000000,2014-09-04,30756708.0
2,OTKH+OTKH+14003068,14C- 2205,2014-01-01,2014-12-31,C,HANG_CV,HIEU_CV,2008.0,0.0,1.0,4.000000e+08,2014,2014-01-01,2014-12-31,365 days,1.000000,2014-06-26,1200000.0
4,OTKH20+OTKH20+20048847,51F20986,2020-02-19,2020-08-19,K,TOYOTA,INNOVA,2015.0,0.0,8.0,5.000000e+08,2020,2020-02-19,2020-08-19,183 days,0.500000,2020-07-10,3600000.0
5,OTKH20+OTKH20+20048847,51F20986,2020-02-19,2020-08-19,K,TOYOTA,INNOVA,2015.0,0.0,8.0,5.000000e+08,2020,2020-02-19,2020-08-19,183 days,0.500000,2020-08-13,2450000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69391,OTKH20+OTKH20+20120238,A177726/25693030120371,2020-07-13,2022-07-13,K,MERCEDES_BENZ,GL 450,2020.0,0.0,7.0,4.859000e+09,2020,2020-07-13,2020-12-31,172 days,0.469945,2020-10-25,124928000.0
69392,OTKH20+OTKH20+20077543,88A32111,2020-04-03,2022-04-03,K,HYUNDAI,GRAND I10,2020.0,0.0,5.0,3.980000e+08,2020,2020-04-03,2020-12-31,273 days,0.745902,2020-07-01,3300000.0
69394,OTKH20+OTKH20+20052010,30F42986,2020-01-08,2022-01-08,K,ACURA,CL,2018.0,0.0,5.0,9.600000e+08,2020,2020-01-08,2020-12-31,359 days,0.980874,2020-07-25,2888000.0
69395,OTKH+OTKH+14007825,14C - 093.54,2014-05-08,2016-05-08,K,SUZUKI,AERIO,2013.0,0.0,2.0,2.750000e+08,2015,2015-01-01,2015-12-31,365 days,1.000000,2015-01-13,2800000.0
69398,OTKH20+OTKH20+20130492,34A39808,2020-07-23,2022-07-23,K,HYUNDAI,TUCSON,2020.0,0.0,5.0,8.600000e+08,2020,2020-07-23,2020-12-31,162 days,0.442623,2020-10-09,1100000.0

In [59]:
raw_SEVERITY.columns

Index(['CERTIFICATE', 'REG_NUMBER', 'START_DATE', 'END_DATE', 'USE',
       'CAR_MAKER', 'CAR_MODEL', 'MANUFACTURE_YEAR', 'CAPACITY', 'NB_SEATS',
       'SUM_INSURED', 'Year', 'Start_seq', 'End_seq', 'Days', 'Exposure',
       'OCCUR_DATE', 'CLAIM'],
      dtype='object')

In [60]:
ins_2= raw_SEVERITY.groupby(['CERTIFICATE', 'REG_NUMBER', 'START_DATE', 'END_DATE', 'USE',
       'CAR_MAKER', 'CAR_MODEL', 'MANUFACTURE_YEAR', 'CAPACITY', 'NB_SEATS',
       'SUM_INSURED', 'Year', 'Start_seq', 'End_seq', 'Days', 'Exposure'])

FREQUENCY = ins_2['CLAIM'].count()
FREQUENCY = FREQUENCY.to_frame().reset_index()
FREQUENCY.rename({'CLAIM':'NB.CLAIM'},axis=1,inplace = True)
FREQUENCY['NB.CLAIM'].value_counts()

1    147087
2     10410
3      2998
4       910
5       241
6        69
7        19
8         5
9         3
Name: NB.CLAIM, dtype: int64

In [61]:
ins_2= SEVERITY.groupby(['CERTIFICATE', 'Start_seq', 'End_seq'])
raw_FREQUENCY = ins_2['CLAIM'].count()
raw_FREQUENCY = raw_FREQUENCY.to_frame().reset_index()
raw_FREQUENCY.rename({'CLAIM':'NB.CLAIM1'},axis=1,inplace = True)
raw_FREQUENCY[raw_FREQUENCY['NB.CLAIM1']==4]
SEVERITY[SEVERITY['CERTIFICATE']=='OTKH18+OTKH18+18090176']

,CERTIFICATE,REG_NUMBER,START_DATE,END_DATE,USE,CAR_MAKER,CAR_MODEL,MANUFACTURE_YEAR,CAPACITY,NB_SEATS,SUM_INSURED,Year,Start_seq,End_seq,Days,Exposure,OCCUR_DATE,CLAIM
56632,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-12-09,1964545.0
56633,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-11-03,10049473.0
56634,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-02-20,7557232.0
56635,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-03-11,5470909.0
56636,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-09-04,3870879.0
56637,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-05-29,9815250.0
56638,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-01-08,6200000.0
56639,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-01-03,1845000.0
56640,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-04-30,2655000.0

In [62]:
Nhap = pd.merge(FREQUENCY,raw_FREQUENCY,how='left',on=['CERTIFICATE','Start_seq','End_seq'])

In [63]:
Nhap

,CERTIFICATE,REG_NUMBER,START_DATE,END_DATE,USE,CAR_MAKER,CAR_MODEL,MANUFACTURE_YEAR,CAPACITY,NB_SEATS,SUM_INSURED,Year,Start_seq,End_seq,Days,Exposure,NB.CLAIM,NB.CLAIM1
0,+ +13002366,29A-816.05,2014-01-14,2015-01-16,K,ACURA,CL,2010.0,0.00,5.0,800000000.0,2014,2014-01-14,2014-12-31,352 days,0.964384,3,3.0
1,+ +14015473,69C-008.53,2014-04-06,2015-04-06,C,HYUNDAI,I10,2010.0,2.50,0.0,490000000.0,2015,2015-01-01,2015-04-06,96 days,0.263014,1,1.0
2,+ +13017689,75C-02181,2014-01-20,2015-01-20,C,KIA,AMANTI,2010.0,1.90,0.0,200000000.0,2014,2014-01-20,2014-12-31,346 days,0.947945,1,NaN
3,+ +13017689,75C-02181,2014-01-20,2015-01-20,C,KIA,AMANTI,2010.0,1.90,0.0,200000000.0,2015,2015-01-01,2015-01-20,20 days,0.054795,1,NaN
4,+ +14027522,73A-02847,2014-04-21,2015-04-21,K,DAEWOO,ARANOS,2000.0,0.00,5.0,200000000.0,2015,2015-01-01,2015-04-21,111 days,0.304110,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161737,oto+KH+13007342,92C - 04443,2014-04-28,2015-04-28,K,SSANGYONG,KORANDO SPORT,2007.0,9.31,0.0,200000000.0,2014,2014-04-28,2014-12-31,248 days,0.679452,1,NaN
161738,oto+KH+13007342,92C - 04443,2014-04-28,2015-04-28,K,SSANGYONG,KORANDO SPORT,2007.0,9.31,0.0,200000000.0,2015,2015-01-01,2015-04-28,118 days,0.323288,1,NaN
161739,oto+KH+14007275,SK:EC919702 - SM: J2671524,2014-04-10,2015-04-10,C,THACO,FC2300,2014.0,2.00,0.0,284400000.0,2014,2014-04-10,2014-12-31,266 days,0.728767,1,NaN
161740,oto+KH+14007275,SK:EC919702 - SM: J2671524,2014-04-10,2015-04-10,C,THACO,FC2300,2014.0,2.00,0.0,284400000.0,2015,2015-01-01,2015-04-10,100 days,0.273973,1,NaN
161741,otoFAIL+KH+14007343,92A - 01583,2014-04-30,2015-04-30,K,TOYOTA,4RUNNER,2013.0,0.00,5.0,550000000.0,2014,2014-04-30,2014-12-31,246 days,0.673973,1,1.0

In [64]:
Nhap['NB.CLAIM1'].fillna(0,inplace=True)

In [65]:
Nhap

,CERTIFICATE,REG_NUMBER,START_DATE,END_DATE,USE,CAR_MAKER,CAR_MODEL,MANUFACTURE_YEAR,CAPACITY,NB_SEATS,SUM_INSURED,Year,Start_seq,End_seq,Days,Exposure,NB.CLAIM,NB.CLAIM1
0,+ +13002366,29A-816.05,2014-01-14,2015-01-16,K,ACURA,CL,2010.0,0.00,5.0,800000000.0,2014,2014-01-14,2014-12-31,352 days,0.964384,3,3.0
1,+ +14015473,69C-008.53,2014-04-06,2015-04-06,C,HYUNDAI,I10,2010.0,2.50,0.0,490000000.0,2015,2015-01-01,2015-04-06,96 days,0.263014,1,1.0
2,+ +13017689,75C-02181,2014-01-20,2015-01-20,C,KIA,AMANTI,2010.0,1.90,0.0,200000000.0,2014,2014-01-20,2014-12-31,346 days,0.947945,1,0.0
3,+ +13017689,75C-02181,2014-01-20,2015-01-20,C,KIA,AMANTI,2010.0,1.90,0.0,200000000.0,2015,2015-01-01,2015-01-20,20 days,0.054795,1,0.0
4,+ +14027522,73A-02847,2014-04-21,2015-04-21,K,DAEWOO,ARANOS,2000.0,0.00,5.0,200000000.0,2015,2015-01-01,2015-04-21,111 days,0.304110,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161737,oto+KH+13007342,92C - 04443,2014-04-28,2015-04-28,K,SSANGYONG,KORANDO SPORT,2007.0,9.31,0.0,200000000.0,2014,2014-04-28,2014-12-31,248 days,0.679452,1,0.0
161738,oto+KH+13007342,92C - 04443,2014-04-28,2015-04-28,K,SSANGYONG,KORANDO SPORT,2007.0,9.31,0.0,200000000.0,2015,2015-01-01,2015-04-28,118 days,0.323288,1,0.0
161739,oto+KH+14007275,SK:EC919702 - SM: J2671524,2014-04-10,2015-04-10,C,THACO,FC2300,2014.0,2.00,0.0,284400000.0,2014,2014-04-10,2014-12-31,266 days,0.728767,1,0.0
161740,oto+KH+14007275,SK:EC919702 - SM: J2671524,2014-04-10,2015-04-10,C,THACO,FC2300,2014.0,2.00,0.0,284400000.0,2015,2015-01-01,2015-04-10,100 days,0.273973,1,0.0
161741,otoFAIL+KH+14007343,92A - 01583,2014-04-30,2015-04-30,K,TOYOTA,4RUNNER,2013.0,0.00,5.0,550000000.0,2014,2014-04-30,2014-12-31,246 days,0.673973,1,1.0

In [66]:
Nhap['NB.CLAIM1']=Nhap['NB.CLAIM1'].astype(int)

In [67]:
Nhap.drop('NB.CLAIM',axis=1,inplace=True)

In [68]:
Nhap['NB.CLAIM'] =Nhap['NB.CLAIM1']

In [69]:
Nhap.drop('NB.CLAIM1',axis=1,inplace=True)

In [70]:
Nhap['NB.CLAIM'].value_counts()

0    114846
1     33063
2      9867
3      2807
4       847
5       227
6        61
7        17
8         4
9         3
Name: NB.CLAIM, dtype: int64

In [71]:
final_Insur_2[final_Insur_2['CERTIFICATE']=='OTKH18+OTKH18+18090176']

,CERTIFICATE,REG_NUMBER,START_DATE,END_DATE,USE,CAR_MAKER,CAR_MODEL,MANUFACTURE_YEAR,CAPACITY,NB_SEATS,SUM_INSURED,Year,Start_seq,End_seq,Days,Exposure,OCCUR_DATE,PAID_CLAIM
56632,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-12-09,1964545.0
56633,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-11-03,10049473.0
56634,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-02-20,7557232.0
56635,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-03-11,5470909.0
56636,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-09-04,3870879.0
56637,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-05-29,9815250.0
56638,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-01-08,6200000.0
56639,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-01-03,1845000.0
56640,OTKH18+OTKH18+18090176,60A-567.32,2018-12-18,2019-12-18,K,KIA,AMANTI,2018.0,0.0,5.0,669000000.0,2019,2019-01-01,2019-12-18,352 days,0.964384,2019-04-30,2655000.0

In [72]:
raw_SEVERITY.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182360 entries, 0 to 182359
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CERTIFICATE       182360 non-null  object
 1   REG_NUMBER        182360 non-null  object
 2   START_DATE        182360 non-null  datetime64[ns]
 3   END_DATE          182360 non-null  datetime64[ns]
 4   USE               182360 non-null  object
 5   CAR_MAKER         182360 non-null  object
 6   CAR_MODEL         182360 non-null  object
 7   MANUFACTURE_YEAR  182360 non-null  float64
 8   CAPACITY          182360 non-null  float64
 9   NB_SEATS          182360 non-null  float64
 10  SUM_INSURED       182360 non-null  float64
 11  Year              182360 non-null  object
 12  Start_seq         182360 non-null  datetime64[ns]
 13  End_seq           182360 non-null  datetime64[ns]
 14  Days              182360 non-null  timedelta64[ns]
 15  Exposure          182360 non-null  float64
 16  OCCUR_DATE        69399 non-null   datetime64[ns]
 17  CLAIM             182360 non-null  float64
dtypes: datetime64[ns](5), float64(6), object(6), timedelta64[ns](1)
memory usage: 25.0+ MB

Nhap.to_excel('FREQUENCY_Insur_2.xlsx',index=False, engine='xlsxwriter')

In [5]:
# SEVERITY.to_excel('SERVERITY_Insur_2.xlsx',index=False, engine='xlsxwriter')

In [4]:
# final_Insur_2.to_excel('Insur_2_after_split.xlsx',index=False, engine='xlsxwriter')